:root {
  --text: rgb(247, 247, 247);
  --background: #010101;
  --primary: 240, 177, 246;
  --secondary: 40, 50, 52;
  --accent: rgb(247, 247, 247);
}
a {
  color: rgb(var(--primary));
  text-decoration: none;
}
body {
  background-color: var(--background);
  background-image: radial-gradient(
    rgba(var(--primary), 0.4) 1px,
    transparent 0
  );
  background-size: 100px 100px;
  color: var(--text);
}
.bg-dark {
  background-color: var(
    --background
  ) !important; /* Warna latar belakang halaman */
}
h2 {
  font-weight: bolder;
}
body::-webkit-scrollbar {
  width: 0em; /* Lebar scrollbar */
}
.h1 {
  font-size: 50px !important;
  font-weight: bolder;
}
body::-webkit-scrollbar-thumb {
  background-color: darkgray; /* Warna thumb (bagian yang dapat digerakkan) scrollbar */
}

body::-webkit-scrollbar-track {
  background-color: #343a40; /* Warna track (bagian yang tidak dapat digerakkan) scrollbar */
}

.jumbotron {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://cdn.discordapp.com/attachments/1083084924417998930/1235529839428239373/image.png?ex=66413a94&is=663fe914&hm=107769606ad249d01d5d920388d91928c4c53a67c846071b35e52f50fa392370&");
  background-size: cover;
  background-position: top;
  color: white; /* Warna teks di dalam jumbotron */
  text-align: center;
  padding: 200px 20px; /* Sesuaikan dengan kebutuhan Anda */
}
.carousel {
  max-width: 100%; /* Sesuaikan lebar carousel dengan kebutuhan Anda */
  height: 300px !important;
  object-fit: cover;
}

.btn-primary {
  background-color: rgb(var(--primary));
  border: rgb(var(--primary));
  color: black;
}
.btn-primary:hover {
  background-color: rgba(var(--primary), 0.8);
  border: rgb(var(--primary));
}
.btn {
  font-size: larger;
}
.btn-outline-danger {
  border: 2px var(--accent) solid;
  color: white;
}
.btn-outline-danger:hover {
  border: 2px var(--accent) solid;
  background-color: var(--accent);
  color: black;
}
#Name {
  font-size: clamp(2rem, 6vw, 6rem);
  transition:
    background 0.3s,
    color 0.3s,
    border-radius 0.3s;
}
h3 {
  font-weight: bolder;
}
#Name {
  transition: top 0.3s ease; /* Animasi pergerakan saat dihover */
}
#Name:hover {
  top: -30px; /* Nilai top saat dihover */
}

img,
carousel {
  border-radius: 12px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

footer {
  margin-top: auto;
  width: 100%;
  height: 50px; /* Atur tinggi yang diinginkan di sini */
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0; /* Sesuaikan padding jika diperlukan */
}
.container {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Bagian header, konten, dan footer */
  min-height: 100vh; /* Set kontainer setidaknya setinggi layar */
}

/* Menambahkan media query untuk layar vertikal */
@media (max-width: 768px) {
  /* Ubah nilai sesuai kebutuhan */
  .carousel-item img {
    max-height: 250px; /* Atau nilai yang sesuai */
    /* Atur properti lain jika diperlukan */
  }
}

.carousel-item img {
  max-height: 60vh; /* Atur tinggi maksimum gambar */
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.carousel-item img {
  height: 400px; /* Sesuaikan tinggi gambar */
  width: auto; /* Biarkan lebarnya menyesuaikan proporsi gambar */
  object-fit: contain; /* Menyesuaikan gambar di dalam area tanpa distorsi atau pemotongan */
}

.carousel-item img {
  max-height: 400px; /* Sesuaikan tinggi maksimum gambar */
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 576px) {
  /* Ubah nilai sesuai kebutuhan */
  .carousel-item img {
    max-height: 250px; /* Sesuaikan tinggi gambar untuk layar vertikal */
    /* Sesuaikan properti lain jika diperlukan */
  }
}
.carousel-item img {
  height: 400px; /* Sesuaikan tinggi gambar */
  width: auto; /* Biarkan lebarnya menyesuaikan proporsi gambar */
  object-fit: contain; /* Menyesuaikan gambar di dalam area tanpa distorsi atau pemotongan */
  border-radius: 12px; /* Menambahkan sudut lengkung 12px */
}
img {
  border-radius: 12px;
  object-fit: scale-down;
  object-position: center;
  max-height: 100%;
}

/* Tambahkan ini ke dalam file styles.css */

/* Untuk tombol Discord dan Instagram */
.social-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Atur margin di bagian atas jika diperlukan */
}

/* Atur jarak antara tombol */
.social-buttons a {
  margin: 0 10px; /* Sesuaikan margin antara tombol */
}

/* Media query untuk orientasi landscape */
@media screen and (orientation: landscape) {
  /* Atur jarak antara tombol saat layar horizontal */
  .social-buttons {
    justify-content: space-between;
    margin-top: 0; /* Menghapus margin atas */
    padding: 0 250px; /* Jarak 500px antara tombol */
  }

  /* Atur lebar maksimum untuk mencegah overflow */
  .social-buttons a {
    max-width: calc(50% - 250px); /* Setengah dari lebar layar minus jarak */
  }
}
