body {
  background-color: #0F0505 !important; /* Warna latar belakang halaman */
  color: #EAE2E2 !important;
}

body::-webkit-scrollbar {
  width: 0em; /* Lebar scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: darkgray; /* Warna thumb (bagian yang dapat digerakkan) scrollbar */
}

body::-webkit-scrollbar-track {
  background-color: #343a40; /* Warna track (bagian yang tidak dapat digerakkan) scrollbar */
}

    .jumbotron {
      background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://w.wallhaven.cc/full/kx/wallhaven-kxkzdm.png');
      background-size: cover;
      background-position: top;
      color: white; /* Warna teks di dalam jumbotron */
      text-align: center;
      padding: 100px 20px; /* Sesuaikan dengan kebutuhan Anda */
    }
    .carousel {
      max-width: 100%; /* Sesuaikan lebar carousel dengan kebutuhan Anda */
      height: 300px !important;
      object-fit: cover;
    }
#Name {
  font-size: clamp(3rem, 10vw, 10rem);
      font-family: "Space Mono", monospace;
        transition: background 0.3s, color 0.3s, border-radius 0.3s;
      background: -webkit-linear-gradient(#8A2387, #F27121);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    }
#Name {
  position: relative;
  top: -20px; /* Sesuaikan nilai top untuk menyesuaikan posisinya */
  transition: top 0.3s ease; /* Animasi pergerakan saat dihover */
}
#Name:hover {
  top: -50px; /* Nilai top saat dihover */
}

img, carousel{
  border-radius: 12px;
}
.fullsize-img {
  width: 100%;
  margin-bottom: 10px;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

footer {
  margin-top: auto;
  width: 100%;
  height: 50px; /* Atur tinggi yang diinginkan di sini */
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0; /* Sesuaikan padding jika diperlukan */
}
.container {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Bagian header, konten, dan footer */
  min-height: 100vh; /* Set kontainer setidaknya setinggi layar */
}
/* CSS sebelum media query */
.fullsize-img {
  width: 100%;
}

/* Menambahkan media query untuk layar vertikal */
@media (max-width: 768px) { /* Ubah nilai sesuai kebutuhan */
  .carousel-item img {
    max-height: 250px; /* Atau nilai yang sesuai */
    /* Atur properti lain jika diperlukan */
  }
}

}
.carousel-item img {
  max-height: 60vh; /* Atur tinggi maksimum gambar */
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.carousel-item img {
  height: 400px; /* Sesuaikan tinggi gambar */
  width: auto; /* Biarkan lebarnya menyesuaikan proporsi gambar */
  object-fit: contain; /* Menyesuaikan gambar di dalam area tanpa distorsi atau pemotongan */
}

.carousel-item img {
  max-height: 400px; /* Sesuaikan tinggi maksimum gambar */
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 576px) { /* Ubah nilai sesuai kebutuhan */
  .carousel-item img {
    max-height: 250px; /* Sesuaikan tinggi gambar untuk layar vertikal */
    /* Sesuaikan properti lain jika diperlukan */
  }
}
.carousel-item img {
  height: 400px; /* Sesuaikan tinggi gambar */
  width: auto; /* Biarkan lebarnya menyesuaikan proporsi gambar */
  object-fit: contain; /* Menyesuaikan gambar di dalam area tanpa distorsi atau pemotongan */
  border-radius: 12px; /* Menambahkan sudut lengkung 12px */
}
img {
  margin-bottom: 10%; 
  border-radius: 12px; 
  object-fit: scale-down; 
  object-position: center;
  max-height: 100%;
}
@font-face {
  font-family: "texgyreadventor-italic"; /* Ganti dengan nama font yang Anda inginkan */
  src: url('texgyreadventor-italic.otf') format('truetype'); /* Sesuaikan jalur dan format file font Anda */
}

/* Tambahkan ini ke dalam file styles.css */

/* Untuk tombol Discord dan Instagram */
.social-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Atur margin di bagian atas jika diperlukan */
}

/* Atur jarak antara tombol */
.social-buttons a {
  margin: 0 10px; /* Sesuaikan margin antara tombol */
}

/* Media query untuk orientasi landscape */
@media screen and (orientation: landscape) {
  /* Atur jarak antara tombol saat layar horizontal */
  .social-buttons {
    justify-content: space-between;
    margin-top: 0; /* Menghapus margin atas */
    padding: 0 250px; /* Jarak 500px antara tombol */
  }

  /* Atur lebar maksimum untuk mencegah overflow */
  .social-buttons a {
    max-width: calc(50% - 250px); /* Setengah dari lebar layar minus jarak */
  }
}
